<h1>Region Name: <%= @region.name %></h1>

<p><a href="/regions/<%= @region.id %>/edit">Edit region</a></p>
<p><a href="/regions/<%= @region.id %>"
      data-confirm="Are you sure?"
      data-method="delete"
      rel="nofollow">Destroy region</a></p>

<p>More information on <%= @region.name %> coming soon!</p>

<p>Click to go to the <a href="/animals">animals page</a> or back to the <a href="/regions">regions page</a></p>
